* {
  box-sizing: border-box;
  color: #eee;
  font-family: "Dosis", sans-serif;
}
body {
  margin: 0;
  background-color: black;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 50px;
  border-bottom: solid 1px #eee;
}
.logo {
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}

.menu-btn {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 1rem;
}

.menu-holder {
  position: relative;
  display: inline-block;
}

nav {
  display: none;
  margin-top: 50px;
  width: max-content;
  right: 0;
  position: absolute;
  background-color: #333;
  z-index: 1;
}
ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

li {
  padding: 0.5rem;
}
.menu-holder:hover > .menu-btn {
  background: #555;
}

.menu-holder:hover > nav {
  display: inline-block;
}

.hidden {
  display: none;
}

.intro {
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

@media only screen and (min-width: 768px) {
  .menu-holder {
    height: 70px;
    width: max-content;
    display: flex;
    align-items: center;
  }
  .menu-btn {
    display: none;
  }
  .icon-wrapper {
    justify-content: flex-start;
    /* align-items: center; */
    width: 100%;
    max-height: 50px;
    border-bottom: solid 1px #eee;
  }
  nav {
    display: flex;
    margin-top: 0px;
    left: 0;

    width: max-content;
    /* position: absolute; */
    background-color: #000;
  }
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
  }
  li {
    padding: 0 10px;
  }
}
